            @font-face {
                font-family: Arimo;
                src: url(fonts/arimo/Arimo-Bold.eot);
                src: url(fonts/arimo/Arimo.svg);
                src: url(fonts/arimo/Arimo.woff);
                src: url(fonts/arimo/Arimo-Bold.svg);
                src: url(fonts/arimo/Arimo-Bold.ttf);
                src: url(fonts/arimo/Arimo-Bold.eot);
                src: url(fonts/arimo/Arimo-Bold.woff);
                src: url(fonts/arimo/Arimo-Bold.woff2);
                src: url(fonts/arimo/Arimo-BoldItalic.eot);
                src: url(fonts/arimo/Arimo-BoldItalic.svg);
                src: url(fonts/arimo/Arimo-BoldItalic.ttf);
                src: url(fonts/arimo/Arimo-BoldItalic.woff);
                src: url(fonts/arimo/Arimo-BoldItalic.woff2);
                src: url(fonts/arimo/Arimo-Italic.eot);
                src: url(fonts/arimo/Arimo-Italic.svg);
                src: url(fonts/arimo/Arimo-Italic.ttf);
                src: url(fonts/arimo/Arimo-Italic.woff);
                src: url(fonts/arimo/Arimo-Italic.woff2);
                src: url(fonts/arimo/Arimo-Regular.eot);
                src: url(fonts/arimo/Arimo-Regular.ttf);
            }
            
            body {
                background-color: #3a4965;
                background-size: 100%;
                font-family: 'Arimo', "Awesome Font", Verdana, Geneva, Tahoma, sans-serif;
            }
            
            table {
                width: 1140px;
                background-color: #f0eded;
                margin: auto;
                display: block;
                position: absolute;
                top: 5%;
                right: 2%;
                left: 2%;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            
            table,
            tr td {
                border: none;
                border-collapse: collapse;
                color: #848484;
            }
            
            tr td {
                text-align: center;
                /* padding: 15px; */
                font-size: 13pt;
                border-bottom: 1px solid #cacaca;
                width: 156px;
            }
            
            .row1 td,
            .row2 td,
            .row3 td,
            .row4 td {
                position: relative;
            }
            
            .row4 td:nth-of-type(2n+2),
            .row3 td:nth-of-type(2n+2),
            .row2 td:nth-of-type(2n+2),
            .row1 td:nth-of-type(2n+2) {
                background: #e3e3e3;
                width: 156px;
            }
            
            .row1 td:first-child {
                background: #ffffff;
                font-size: 14pt;
            }
            
            .row1 td {
                height: 110px;
                color: #484848;
                font-weight: 600;
                font-size: 15pt;
            }
            
            p {
                margin: 10px 0;
            }
            
            .baks {
                font-size: 26pt;
                font-weight: 700;
                margin-left: -116px;
            }
            
            .up99 {
                position: absolute;
                float: left;
                top: 55px;
                left: 64px;
                font-weight: 700;
                height: 35px;
                font-size: 11pt;
            }
            
            .shift {
                display: block;
                margin-left: 67px;
                margin-top: -25px;
                font-size: 9pt;
                transform: scaleX(1.15);
                -webkit-transform: scaleX(1.15);
                -moz-transform: scaleX(1.15);
                -ms-transform: scaleX(1.15);
                -o-transform: scaleX(1.15);
            }
            
            .row2 td:nth-child(1) {
                background: #89c331;
                color: #fff;
                border-color: #89c331;
            }
            
            .row3 td:nth-child(1) {
                background: #f04a56;
                color: #fff;
                border-color: #f04a56;
            }
            
            .row4 td:nth-child(1) {
                background: #20807c;
                color: #fff;
                border-color: #20807c;
            }
            
            .fa {
                margin-bottom: 10px;
                color: #848484;
            }
            
            button {
                width: 140px;
                height: 40px;
                margin: 27px 0 20px 0;
                border: none;
                color: #fff;
                text-transform: uppercase;
                position: relative;
                background-color: #414141;
                border-radius: 5px;
                font-size: 12pt;
                font-weight: 700;
            }
            
            button::after {
                content: " ";
                width: 140px;
                height: 6px;
                background-color: hsla(0, 0%, 0%, 30%);
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            
            button:hover {
                background-color: #1b1b1b;
            }
            
            .text {
                font-size: 10pt;
            }
            
            .row1 {
                color: #484848;
                /* height: 140px; */
            }
            
            .col1 {
                width: 196px;
                font-size: 17pt;
                font-weight: 700;
            }